<%= form_for meme do |f| %>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>


  <div>
    <%= f.label :image %>
    <%= f.file_field :picture_url %>
    <%= f.hidden_field :picture_url_cache %>
  </div>

  <div>
    <%= f.text_field :remote_picture_url_url %>
    <small>Enter URL to an image</small>
  </div>
  <% if meme.picture_url? %>
    <%= image_tag meme.picture_url.small_thumb.url %>
  <% end %>
  <%= f.submit %>




  <%= render 'shared/errors', object: meme %>
<% end %>