<h1>Memes</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Thumb</th>
    <th>Mark</th>
    <th></th>
  </tr>

  <% @memes.each do |meme| %>
    <tr>
      <td><%= meme.title %></td>
      <td><% if  meme.picture_url.present?  %>
          <%= image_tag meme.picture_url.small_thumb.url %>
        <% elsif meme.remote_picture_url_url.present?%>
            <%= image_tag meme.remote_picture_url.small_thumb.url %>
          <%else %>
              <%= image_tag "/public/empty.png", size: "30x30"  %>

        <%end %></td>
      <td><%= meme.mark %></td>
      <td><%= link_to 'Show', meme_path(meme) %></td>
      <td><%= link_to 'Delete', meme_path(meme),
                      method: :delete,
                      data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>
<%= link_to 'Add meme', new_meme_path %>

