<%= link_to 'All memes', memes_path %>
<h1><%= @meme.title %></h1>

<%= image_tag(@meme.picture_url.url, alt: 'Memas') if @meme.picture_url? %>

<p><%= @meme.picture_url %></p>

<p><%= link_to 'Edit', edit_meme_path(@meme) %></p>
